:root {
    font-size: 16px;
}

@media (max-width: 480px) {
    :root {
        font-size: 14px;
    }
}

body {
    width: 84vw;
    max-width: 1200px;
    background-color: var(--color1);
    margin: 60px auto 80px auto;
    color: var(--color2);
    font-family: "Poppins", "Verdana", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
}

@media (max-width: 1024px) {
    body {
        width: 90vw;
        max-width: 1200px;
        margin: 40px auto;
    }
}

@media (max-width: 480px) {
    body {
        margin: 40px auto 20px auto;
    }
}

h1 {
    font-size: 2.75rem;
    text-align: center;
}

p {
    text-align: center;
}

main {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    margin-top: 44px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
    main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {

    h1 {
        line-height: 1.15;
    }

    main {
        gap: 32px;
        padding: 32px;
        margin-top: 20px;
    }

}

/* Modal Preview */

#modalPreview {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: relative;
    grid-row: 1;
    grid-column: 2;
    overflow: auto;
}

#modalPreview .modal {
    width: 70%;
    height: 70%;
}

#modalPreviewBackground {
    width: 100%;
    height: 100%;
    background-color: #c7c7c7;
    background-image: url("../img/background-page.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
    position: relative;
    border-radius: 8px;
}

@media (max-width: 900px) {
    #modalPreview,
    #modalPreviewBackground {
        height: 68vh;
        grid-row: 2;
        grid-column: 1;
        background-size: cover;
    }
}

/* Generate Code Button */

button#generateCode {
    color: var(--color2);
    background: linear-gradient(to top, var(--color1-dark), var(--color1));
    grid-column: span 2;
    text-transform: uppercase;
    font-family: "Poppins";
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.875px;
    border-radius: 4px;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

button#generateCode:hover {
    background-color: #152229;
}

button#generateCode:active {
    transform: scale(0.99);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

button#generateCode img {
    width: 28px;
}

@media (max-width: 900px) {
    button#generateCode {
        grid-column: initial;
    }
}

/* Modal Code */

#modalCode .modal {
    width: 84vw;
    max-width: 1200px;
}

#modalCode .modal-body {
    display: grid;
    grid-template-columns: repeat(3, minmax(320px, 360px));
    gap: 20px;
    overflow-x: auto;
}

#modalCode .modal-body .code {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

#modalCode .modal-body h3 {
    display: flex;
    justify-content: space-between;
}

#modalCode .modal-body h3 .button-copy {
    font-size: 0.75rem;
    padding: 4px 12px;
    border: 1px solid #ddd;
    box-shadow: none;
    background: #fff;
    border-radius: 4px;
}


#modalCode .modal-body h3 .button-copy:hover {
    background: #fafafa;
}

#modalCode .modal-body .code pre:hover + .button-copy {
    opacity: 1;
}

#modalCode .modal-body pre {
    height: 100%;
    max-height: 440px;
    background: #eee;
    font-size: 0.85rem;
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
    overflow: auto;
}