/* Modal Container */

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(8px);
    z-index: 1;
    transition: all .3s ease-in-out;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    opacity: 0;
}

.modal-container.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container[data-open="true"] {
    opacity: 1;
}

/* Open Modal Button */

.open-modal-button {
    background: linear-gradient(to top, #eee, #fff);
    color: var(--color1);
    border: 1px solid var(--color1);
    padding: 16px 28px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins";
    cursor: pointer;
}

/* Modal */

.modal {
    min-width: 180px;
    min-height: 220px;
    color: var(--color1);
    background-color: #fff;
    border-radius: 4px;
    z-index: 2;
    flex-direction: column;
    position: fixed;
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    transform: scale(0);
    display: none;
}

.modal-container.open .modal {
    display: flex;
}

.modal-container[data-open="true"] .modal {
    transform: scale(1);
}

/* Modal Header */

.modal-header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.modal-body .modal-close,
.modal-header .modal-close {
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: #bd4040;
    font-family: cursive;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 6px 12px 12px 12px;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: -16px;
}

.modal-header .modal-close:hover {
    background-color: #9c2929;
}

/* Modal Body */

.modal-body {
    padding: 20px;
    flex: 1;
}

/* Modal Footer */

.modal-footer {
    padding: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.modal-footer button {
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
}

.modal-footer .modal-cancel {
    background-color: #bd4040;
}

.modal-footer .modal-cancel:hover {
    background-color: #9c2929;
}

.modal-footer .modal-ok {
    background-color: #447797;
}

.modal-footer .modal-ok:hover {
    background-color: #265470;
}