.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}